
  <!--   Core   -->
  <script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Facebook-->
  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0"></script>

  <!--Instagram-->
  <script async src="https://www.instagram.com/embed.js"></script>

  <!--   Optional JS   -->
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>

  <!--   G.Maps   -->

  <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}"></script>

  <!--   Argon JS   -->
  <script src="/static/assets/js/argon-dashboard.js?v=1.1.0"></script>

  <!-- Twitter -->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


  {{ form.media }}
