
  <!--   Core   -->
  <script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>

  <!--   G.Maps   -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXShfJMgLPzKW600AAaTEjnr1ZM5FxsVc"></script>

  <!--   Argon JS   -->
  <script src="/static/assets/js/argon-dashboard.js?v=1.1.0"></script>

  <!-- Twitter -->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>