{% extends 'layouts/base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load humanize %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
          <div style="text-align: center; color: white;">
            <h1 style="color: white;">Relief Data  <span class="badge badge-md badge-floating badge-primary border-white">New</span></h1>
            <div  class="intro"></div>
          </div>
        </div>
      </div>

    <div class="container-fluid" >
      <!-- mt--9"> -->
      <div class="nav-wrapper">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row" role="tablist">
          <li class="nav-item" role="presentation" >
            <a class="nav-link mb-sm-3 mb-md-0 active"  href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link mb-sm-3 mb-md-0"  href="#cards" aria-controls="cards" role="tab" data-toggle="tab">Cards</a>
          </li>
        </ul>
      </div>
        <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane   show active justify-content-center" id="table">
            <div class="row">
                {% if filter %}
                    <form action="" method="get" class="form form-inline">
                        {% bootstrap_form filter.form layout='inline' %}
                        {% bootstrap_button 'filter' %}
                    </form>
                {% endif %}
                <div class="card">
                    {% render_table table %}
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane  justify-content-center" id="cards">
          <div class="row  justify-content-center">
            <div class="col-lg-10 col-md-10">
              <div class=" shadow border-0">
                <div class="form-group">
                  <input  class="input-group form-control input-group-alternative text-primary" type="text" id="myInput" onkeyup="filterTweets()" placeholder="Filter data (e.g. Les Cayes)...">
                </div>
              </div>
            </div>
          </div>
          <div id="totalReports" class="row  justify-content-center mb-2">
            Total Records: {{data | length}}
          </div>
          <div  id="relief-cards" class="card-columns justify-content-center">
            {% for relief in data %}
            <!-- <div class="row">
              <a href="{{relief.pub_link}}" target="_blank"  rel="noopener noreferrer" class="text-dark"> -->
                <!-- <div class="col "> -->
                  <div class="card shadow border-0 pt-2 px-4">
                    <div  class="card-body">
                      <small class="text-muted">{{relief.donation_date}}</small>
                      <h3 class="card-title"> <i class="fas fa-handshake"></i> {{relief.item_type}}: {% if relief.quantity >= 0 %} {{relief.quantity|intcomma}} {% endif %} {{relief.unit}}</h3>
                      <p class="card-text"><span class="badge badge-primary">Donor</span>{{relief.donor}}</p>
                      <p class="card-text"><span class="badge badge-primary">Receiver</span>{{relief.receiver}}</p>
                      <p class="card-text">{% if relief.target_location %}<i class="fas fa-location-arrow"></i>{{relief.target_location}} {% endif %}</p>
                      <p class="card-text"><i class="fas fa-info"></i>  {{relief.relief_designation}}</p>
                      <a href="{{relief.pub_link}}" target="_blank"  rel="noopener noreferrer"  class="btn  btn-link px-0">View Publication</a>
                    </div>

                  </div>
                <!-- </div> -->
              <!-- </a> -->
              <div style="display: none" class="reliefdata">{{relief.item_type}}  {{relief.donor}} {{relief.receiver}} {{relief.target_location}} {{relief.relief_designation}}</div>
            <!-- </div> -->
            {% endfor %}
          </div>

        </div>
      {% include "includes/footer.html" %}
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  function filterTweets() {
    // Declare variables
    var input, filter, cardsdiv, cards, txt, i, txtValue, totalElem, totalReports;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    cardsdiv = document.getElementById("relief-cards");
    cards = cardsdiv.getElementsByClassName('row');
    totalElem = document.getElementById("totalReports");
    totalReports = 0;
    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < cards.length; i++) {
      txt = cards[i].getElementsByClassName("reliefdata")[0];
      txtValue = txt.textContent || txt.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        cards[i].style.display = "";
        totalReports++;
      } else {
        cards[i].style.display = "none";
      }
    }
    totalElem.innerText = "Total Records: " + totalReports.toString()
  }
  </script>
{% endblock javascripts %}
