{% extends 'layouts/base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
          <div style="text-align: center; color: white;">
            <h1 style="color: white;">Relief Data</h1>
            <div  class="intro"></div>
          </div>
        </div>
      </div>

    <div class="container-fluid" >
      <!-- mt--9"> -->
      <div class="nav-wrapper">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row" role="tablist">
          <li class="nav-item" role="presentation" >
            <a class="nav-link mb-sm-3 mb-md-0 active"  href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link mb-sm-3 mb-md-0"  href="#cards" aria-controls="cards" role="tab" data-toggle="tab">Cards <span class="badge badge-md badge-floating badge-success border-white">New</span></a>
          </li>
        </ul>
      </div>
        <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane   show active justify-content-center" id="table">
            <div class="row">
                {% if filter %}
                    <form action="" method="get" class="form form-inline">
                        {% bootstrap_form filter.form layout='inline' %}
                        {% bootstrap_button 'filter' %}
                    </form>
                {% endif %}
                <div class="card">
                    {% render_table table %}
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane  justify-content-center" id="cards">
            List will go here

        </div>
      {% include "includes/footer.html" %}
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}
